<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="antizika.Properties.Settings.Conexao" connectionString="Data Source=localhost\SQLEPRESS;Initial Catalog=antizika;Integrated Security=true" />
    </connectionStrings>
</configuration>